table {
    width: 100%;
    border-collapse: collapse;
    th, td {
        padding: $spacing-medium;
        font-size: $font-small;
        font-weight: 300;
        text-align: left;
        border-bottom: 1px solid $dark-gray;
        height: 3rem;
        padding: 0;
        cursor: pointer;
        padding: 0 $spacing-medium;

        a {
            height: auto;
            height: 100%;
            display: flex;
            align-items: center;
            padding: $spacing-medium 0;
        }
    }

    tr:nth-child(odd) td {
        background-color: $light-gray;
    }

    th {
        font-weight: bold;
        cursor: inherit;
    }

    tbody tr:hover {
        background-color: #f9f9f9;
    }

    .episode-title {
        font-weight: 400;
        color: $secondary-color;
        text-decoration: none;
        cursor: pointer;


        &:hover {
            background-color: $secondary-color-light;
            transition: background-color 0.3s ease;
        }
    }
}