.header-container{
    border-bottom: 1px solid $border-color;
    padding: 0 $spacing-medium;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header-breadcrumb{
    width: 100%;
    padding: $spacing-small;
    span {
        font-size: $font-small;
        color: $dense-gray;
        cursor: pointer;
    }
   }