.tile{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height:  16rem;
    margin-bottom: 8rem;
    height: 14rem;
    cursor: pointer;

    &-inner-content{
        background-color: $light-gray;
        box-shadow: 0 2px 4px $background-medium;
        height: 70%;
        position: relative;
        border-radius: 1rem;
        text-align: center;
        padding-top:  $spacing-xlarge;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        &:hover{
            background-color: $secondary-color-light;
        }

        span {
            color: $text-secondary;
            font-size: $font-small;
            line-height: $small-line-height;
        }
     
    }

    &-image{
        position: absolute;
        width: $image-size;
        height: $image-size;
        overflow: hidden;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 0%;
        left: 50%;
        translate: (-50%, -50%);
    }

    &-inner-content-body{
        height: 90%;
        overflow: scroll;
    }



}